<h1>Welcome to Scrabble Score</h1>
<form action="/score">                    
  <div class="form-group">
     <label for="word">Enter a word to receive its Scrabble Score
</label>
     <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>