<h1>Add a piece of art:</h1>

<form action="/arts" method="post">
  <label for="name">Name of art piece:</label>
  <input id="name" name="name" type="text">

  <label for="price">Artist:</label>
  <input id="artist" name="artist" type="text">

  <label for="price">Starting price:</label>
  <input id="price" name="price" type="text">

  <button type="submit">Add Art Piece</button>
</form>