<h1>About</h1>
<p>All about gorons!</p>
<p>"I am one of the Gorons, the stone-eating people who live on Death Mountain."
— Goron </p>
</br>
<p>The Gorons are a recurring race in the Legend of Zelda series. The Gorons are a humanoid, rock-eating race that dwell in the mountains. Despite their hulking appearance, Gorons are a relatively peaceful species. They are usually considered, perhaps superficially, to be of low intelligence, although there is no particular indication of this in the games; in fact, there is evidence to the contrary, such as their ability to industrialize ahead of all the other races in The Legend of Zelda: Twilight Princess, and some Gorons' roles as archaeologists in The Legend of Zelda: Skyward Sword. Aside from Hylians and Sheikah, Gorons are the only race shown both in Skyward Sword and other games in the series. Since Skyward Sword is generally accepted as the first game in the series' continuity, this makes Gorons, Hylians, and Sheikah the oldest confirmed races.</p>
</p>
<p></p>
