

<h1>Gallery</h1>
<p>Here are some fun pix of Gorons.</p>
<ul>
  <li><img src='/img/goron1.png' alt='Goron1'/></li>
  <li><img src='/img/goron2.jpg' alt='Goron2'/></li>
  <li><img src='/img/goron3.png' alt='Goron3'/></li>
  <li><img src='/img/goron4.png' alt='Goron4'/></li>
</ul>
