<h1>Welcome to the Goron Fan Page!</h1>
<p>This is your number 1 unofficial destination to hear about how great Gorons are.</p>
<p>You can join our mailing list by entering your email here:</p>
<form action="/receipt">
  <label for="email">Your email</label>
  <input id="email" name="email" type="text">
  <button type="submit" class="btn">Yay!</button>
</form>
<p></p>
<p></p>
