<!DOCTYPE html>
<html>
  <head>
    <title>Goron's Biggest Fans!</title>
    <link rel='stylesheet' href=/stylesheet.css>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>